<div class="loginarea sp_top_100 sp_bottom_100">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-lg-2">
                <div class="loginarea__wraper">
                    <div class="login__heading">
                        <h5 class="login__title">Current Organization</h5>
                    </div>



                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="form__label">Organization Name</label>
                                    <input class="common__login__input" type="text" placeholder="Organization Name">

                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">Designation</label>
                                    <input class="common__login__input" type="text" placeholder="Designation">

                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">Employ Type</label>
                                    <select class="form-select common__login__input" aria-label="Default select example">
                                        <option disabled selected>--- Select ---</option>
                                        <option value="1">Full Time</option>
                                        <option value="2">Part Time</option>
                                        <option value="3">Remote</option>
                                        <option value="4">On Site</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">No of Experience</label>
                                    <input class="common__login__input" type="number" placeholder="00">

                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">Location</label>
                                    <input class="common__login__input" type="number" placeholder="EX: London, India">

                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <div class="form__check">
                                        <input id="forgot" type="checkbox">
                                        <label for="forgot">I am currently working in this role</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">Start Date</label>
                                    <input class="common__login__input" type="text" placeholder="Start Date">

                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="login__form">
                                    <label class="form__label">End Date</label>
                                    <input class="common__login__input" type="text" placeholder="End Date">

                                </div>
                            </div>
                        </div>
                        <div class="login__button">
                            <a class="default__button"  routerLink="/smhome" routerLinkActive="active" ariaCurrentWhenActive="page">Submit</a>
                        </div>
                    </form>




                </div>
            </div>

        </div>

        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
        </div>


    </div>
</div>