<div class="loginarea sp_top_100 sp_bottom_100">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-lg-2">
                <div class="loginarea__wraper">
                    <div class="login__heading">
                        <h5 class="login__title">Complete Your Profile</h5>
                        <p class="login__description">Please provide the following details to enhance your profile</p>
                    </div>


                    <form action="#">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="form__label">Primary Skills</label>
                                    <div class="d-flex gap-4 gap-sm-5">
                                        <div class="form__check">
                                            <label for="exp1" class="mx-1">1</label>
                                            <input id="exp1" type="checkbox" name="exp">
                                        </div>
                                        <div class="form__check">
                                            <label for="exp2" class="mx-1">2</label>
                                            <input id="exp2" type="checkbox" name="exp">
                                        </div>
                                        <div class="form__check">
                                            <label for="exp3" class="mx-1">3</label>
                                            <input id="exp3" type="checkbox" name="exp">
                                        </div>
                                        <div class="form__check">
                                            <label for="exp4" class="mx-1">4</label>
                                            <input id="exp4" type="checkbox" name="exp">
                                        </div>
                                        <div class="form__check">
                                            <label for="exp5" class="mx-1">5</label>
                                            <input id="exp5" type="checkbox" name="exp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="form__label">Secondary Skills</label>
                                    <input class="common__login__input" type="text" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form">
                                <label class="form__label">Soft Skills</label>
                                <div class="d-flex gap-4 gap-sm-5">
                                    <div class="form__check">
                                        <label for="exp1" class="mx-1">1</label>
                                        <input id="exp1" type="checkbox" name="exp">
                                    </div>
                                    <div class="form__check">
                                        <label for="exp2" class="mx-1">2</label>
                                        <input id="exp2" type="checkbox" name="exp">
                                    </div>
                                    <div class="form__check">
                                        <label for="exp3" class="mx-1">3</label>
                                        <input id="exp3" type="checkbox" name="exp">
                                    </div>
                                    <div class="form__check">
                                        <label for="exp4" class="mx-1">4</label>
                                        <input id="exp4" type="checkbox" name="exp">
                                    </div>
                                    <div class="form__check">
                                        <label for="exp5" class="mx-1">5</label>
                                        <input id="exp5" type="checkbox" name="exp">
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="form__label">Preference time for interview</label>
                                    <input class="common__login__input" type="time" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <input type="file" hidden id="upload-profile">
                                <label for="upload-profile" class="upload-profile">
                                    <h4>Upload Profile</h4>
                                    <p class="m-0">or drop a files here</p>
                                </label>
                            </div>
                            <div class="col-12 mt-1">
                                <hr>
                                <h5 class="mb-2">Additional Details</h5>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form m-0">
                                    <label class="form__label">I am?</label>
                                    <select class="form-select common__login__input" aria-label="Default select example">
                                        <option disabled selected>--- Select ---</option>
                                        <option value="1">Job seeker with a gap</option>
                                        <option value="2">Professional (IT)</option>
                                        <option value="3">Professional (Non-IT)</option>
                                      </select>

                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="form__label">Domain</label>
                                    <select class="form-select common__login__input" aria-label="Default select example">
                                        <option disabled selected>--- Select ---</option>
                                        <option value="1">Data</option>
                                        <option value="2">Web Development</option>
                                        <option value="3">Quality Assurance (QA)</option>
                                        <option value="3">Designer</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="login__form d-flex justify-content-between flex-wrap gap-2">
                            <div class="form__check">
                                <input id="accept_pp" type="checkbox"> <label for="accept_pp">Send message with mail</label>
                            </div>
                        </div>
                        <div class="login__button">
                            <a class="default__button" routerLink="/start-journey" routerLinkActive="active" ariaCurrentWhenActive="page">Submit</a>
                        </div>
                    </form>


                </div>
            </div>

        </div>

        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
        </div>


    </div>
</div>