

    <!-- herobannerarea__section__start -->
    <div class="herobannerarea herobannerarea__2 herobannerarea__single__course loginarea">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                    
                    <div class="herobannerarea__content__wraper text-center">

                        <div class="herobannerarea__title">
                            <div class="herobannerarea__small__title">
                                <span>Wellcome to</span>
                            </div>
                        </div>
                        <div class="headerarea__left__logo mb-4">
                            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                                <img loading="lazy"  src="../../../../assets/img/logo/logo_1.png" alt="logo"  style="height: 72px;">
                            </a>
                        </div>
                        <div class="herobannerarea__title">
                            
                            <div class="herobannerarea__title__heading__2 herobannerarea__title__heading__3">
                                <h2>Want to  <span>switch?</span></h2>
                            </div>
                        </div>


                        <div class="herobannerarea__text herobannerarea__text__2">
                            <p>Lorem Ipsum is simply dummy text of the printing typesetting <br>industry. Lorem Ipsum has been </p>
                        </div>
                        <div class="hreobannerarea__button__2">
                            <a class="default__button"  routerLink="/smhome" routerLinkActive="active" ariaCurrentWhenActive="page" style="width: 120px;">Yes</a>
                            <a class="default__button hreobannerarea__button__3"  style="width: 120px;"  routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">No</a>
                        </div>
                    </div>
                    <!-- <div class="course__details__price summery__single__course aos-init aos-animate" data-aos="fade-up">
                        
                    </div> -->

                </div>

            </div>
        </div>
        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
        </div>
    </div>
    <!-- herobannerarea__section__end-->
