<div class="loginarea sp_top_100 sp_bottom_100">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 offset-lg-2">
                <div class="loginarea__wraper position-relative overflow-hidden py-5">
                    <!-- <div class="position-absolute top-0 w-100 start-0" style="background: #ececec;">
                        <div class="bg-primary pt-2 pb-1 w-25 rounded-end"></div>
                    </div> -->
                    <div class="login__heading ">
                        <i class="icofont-check confirm mb-4"></i>
                        <h5 class="login__title">Thank you for the details.</h5>
                        <p class="login__description">Help me to Switch</p>
                    </div>
                    
                    <div class="login__button d-flex justify-content-center">
                        <a class="default__button mt-4 w-50 w-md-25"  routerLink="/start-journey" routerLinkActive="active" ariaCurrentWhenActive="page">Switch</a>
                    </div>
                    <!-- <h6 class="text-center mt-4"><a routerLink="/switch" routerLinkActive="active" ariaCurrentWhenActive="page">Skip</a></h6> -->

                </div>
            </div>

        </div>

        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
        </div>


    </div>
</div>