<div class="loginarea sp_top_100 sp_bottom_100">
    <div class="container">
        <div class="row">

            <div class="col-xl-8 col-md-8 offset-md-2">
                <div class="loginarea__wraper">
                    <div class="login__heading">
                        <!-- <div class="headerarea__left__logo my-3">
                            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                                <img loading="lazy"  src="../../../../assets/img/logo/logo_1.png" alt="logo"  style="height: 72px;">
                            </a>
                        </div> -->
                        <h5 class="login__title mt-5">OTP Verification</h5>
                    </div>

                    <form action="#">
                        <div class="login__form">
                            <label class="form__label">We sent OTP code to verify  your number</label>
                            <div class="d-flex gap-4 justify-content-center align-items-center">
                                <input class="common__login__input text-center otp_input" type="number" maxlength="1">
                                <input class="common__login__input text-center otp_input" type="number" maxlength="1">
                                <input class="common__login__input text-center otp_input" type="number" maxlength="1">
                                <input class="common__login__input text-center otp_input" type="number" maxlength="1">
                            </div>

                        </div>
                        <div class="login__button">
                            <a class="default__button" routerLink="/current-org" routerLinkActive="active" ariaCurrentWhenActive="page">Next</a>
                        </div>
                    </form>


                </div>
            </div>

        </div>

        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
            <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
        </div>


    </div>
</div>