<main class="main_wrapper overflow-hidden">
    <app-navbar></app-navbar>
    
        <!-- education__section__start -->
        <div class="educationarea">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-12" data-aos="fade-up">
                        <div class="educationarea__wrapper">
                            <div class="educationarea__button">
                                <div class="default__small__button">Start your journey with SM</div>
                            </div>
                            <div class="educationarea__heading">
                                <h2>Switch Maro Trusted by 1000+</h2>
                            </div>
                            <div class="educationarea__content">
                                <p>Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum
                                    has been </p>
                            </div>
                            <div class="educationarea__bottom__button">
                                <input type="text" placeholder="Write your dream comp name">
                                <a class="default__button" routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-12" data-aos="fade-up">
                        <div class="educationarea__right__wraper" data-tilt>
                            <div class="educationarea__img">
                                <img loading="lazy"  class="education__img__1" src="../../../../assets/img/education/education.png" alt="education">
                                <img loading="lazy"  class="education__img__2" src="../../../../assets/img/education/education__1.png" alt="education">
                                <img loading="lazy"  class="education__img__3" src="../../../../assets/img/education/education__2.png" alt="education">
                                <img loading="lazy"  class="education__img__4" src="../../../../assets/img/education/education__3.png" alt="education">
                            </div>
                            <div class="educationarea__small__img">
                                <a href="#">
                                    <img loading="lazy"  class="education__img__5" src="../../../../assets/img/education/education__4.png" alt="education">
                                    <img loading="lazy"  class="education__img__6" src="../../../../assets/img/education/education__5.png" alt="education">
                                    <img loading="lazy"  class="education__img__7" src="../../../../assets/img/education/education__6.png" alt="education">
                                    <img loading="lazy"  class="education__img__8" src="../../../../assets/img/education/education__7.png" alt="education">
                                </a>

                                <div class="educationarea__small__para">
                                    <p>Join over <span>4000+</span> User</p>
                                </div>
                            </div>
                            <div class="educationarea__small__img__2">
                                <img loading="lazy"  src="../../../../assets/img/about/about_16.png" alt="educator">
                                <div class="educationarea__small__content">
                                    <span>Congratulations!!</span>
                                    <p>Your Survey Completed</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="educationarea__shape_image">
                    <img loading="lazy"  class="hero__shape hero__shape__1 d-sm-block d-none" src="../../../../assets/img/education/hero_shape2.png" alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__2 d-md-block d-none" src="../../../../assets/img/education/hero_shape3.png" alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__3" src="../../../../assets/img/education/hero_shape4.png" alt="Shape">
                    <img loading="lazy"  class="hero__shape hero__shape__4" src="../../../../assets/img/education/hero_shape5.png" alt="Shape">
                </div>


            </div>
        </div>

        <!-- education__section__end-->



        <!-- populer__section__start -->
        <div class="populerarea sp_bottom_50">
            <div class="container">
                <div class="populerarea__heading heading__underline mb-5">
                    <h2>SM Supported <span>Companies</span></h2>
                </div>
                <div class="row">

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 72px;" class="mb-2" src="../../../../assets/img/company/microsoft.webp" alt="education">
                            <div class="service__content">
                                <h3>Microsoft</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 72px;" class="mb-2" src="../../../../assets/img/company/Apple-logo.png" alt="education">
                            <div class="service__content">
                                <h3>Apple</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 72px;" class="mb-2" src="../../../../assets/img/company/Amazon_Web_Services-Logo.wine.png" alt="education">
                            <div class="service__content">
                                <h3>Amazon</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 50px;" class="mb-2" src="../../../../assets/img/company/shopify-log.webp" alt="education">
                            <div class="service__content">
                                <h3>Shopify</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 50px;" class="mb-2" src="../../../../assets/img/company/google-logo-png-google-sva-scholarship-20.png" alt="education">
                            <div class="service__content">
                                <h3>Google</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-3 mb-lg-5" data-aos="fade-up">
                        <div class="com-card h-100 m-0">
                            <img loading="lazy" style="height: 50px;" class="mb-2" src="../../../../assets/img/company/Logonetflix.png" alt="education">
                            <div class="service__content">
                                <h3>Netflix</h3>
                                <h3>
                                    <a routerLink="/schedule-interview" routerLinkActive="active" ariaCurrentWhenActive="page" class="d-flex align-items-center text-primary mt-2">
                                        Go <span class="next_class slick-arrow"><i class="icofont-long-arrow-right display-6 "></i></span>
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
        <!-- populer__section__end -->


<app-footer></app-footer>
</main>













