  <!-- pre loader area start -->
  <!-- <div id="back__preloader">
    <div id="back__circle_loader"></div>
    <div class="back__loader_logo">
        <img loading="lazy"  src="../../../../assets/img/pre.png" alt="Preload">
    </div>
</div> -->
<!-- pre loader area end -->




<main class="main_wrapper overflow-hidden">
<app-navbar></app-navbar>


        <!-- herobannerarea__section__start -->
        <div class="herobannerarea herobannerarea__2 herobannerarea__machine__learning" style="background: url(../../../../assets/img/herobanner/ai_1.jpg)">

            <div class="swiper ai__slider">

                <div class="herobannerarea__slider__wrap swiper-wrapper">

                    <div class="swiper-slide herobannerarea__single__slider">
                        <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                                <div class="herobannerarea__content__wraper text-center">


                                    <div class="herobannerarea__title">
                                        <div class="herobannerarea__small__title">
                                            <span>Switch Maro</span>
                                        </div>
                                        <div class="herobannerarea__title__heading__2 herobannerarea__title__heading__3">
                                            <h2>our <span>story</span> starts with us.</h2>
                                        </div>
                                    </div>


                                    <div class="herobannerarea__text herobannerarea__text__2 d-flex justify-content-center">
                                        <p class="w-50">This is a simple example of a Landing Page you can build using Notus Angular. It features multiple CSS components based on the Tailwind CSS design system. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>



            </div>
            <div class="slider__controls__wrap slider__controls__pagination slider__controls__arrows">
                <!--<div class="swiper-button-next arrow-btn"></div>
                <div class="swiper-button-prev arrow-btn"></div>-->
                <div class="swiper-pagination"></div>
            </div>

            <div class="herobannerarea__icon__2">
                <img loading="lazy"  class="herobanner__common__img herobanner__img__1" src="../../../../assets/img/herobanner/sm.svg" alt="photo">
                <!-- <img loading="lazy"  class="herobanner__common__img herobanner__img__2" src="../../../../assets/img/herobanner/herobanner__2.png" alt="photo">
                <img loading="lazy"  class="herobanner__common__img herobanner__img__3" src="../../../../assets/img/herobanner/herobanner__3.png" alt="photo">
                <img loading="lazy"  class="herobanner__common__img herobanner__img__4" src="../../../../assets/img/herobanner/herobanner__4.png" alt="photo">
                <img loading="lazy"  class="herobanner__common__img herobanner__img__5" src="../../../../assets/img/herobanner/herobanner__5.png" alt="photo"> -->
            </div>

        </div>
        <!-- herobannerarea__section__end-->


        <div class="brandarea__2">
            <div class="container">
                <div class="row aos-init aos-animate" data-aos="fade-up">
                    <div class="col-lg-4">
                        <div class="brandarea__wraper brandarea__wraper__2 p-4 flex-column trainingarea__wraper">
                            <img loading="lazy" class="mb-3" src="../../../../assets/img/counter/counter__2.png" alt="counter">
                            <h2 class="mb-1">About SM</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="brandarea__wraper brandarea__wraper__2 p-4 flex-column trainingarea__wraper trainingarea__wraper__2">
                            <img loading="lazy" class="mb-3" src="../../../../assets/img/counter/counter__2.png" alt="counter">
                            <h2 class="mb-1">Objective of SM</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="brandarea__wraper brandarea__wraper__2 p-4 flex-column trainingarea__wraper trainingarea__wraper__3">
                            <img loading="lazy" class="mb-3" src="../../../../assets/img/counter/counter__2.png" alt="counter">
                            <h2 class="mb-1">How we work</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



		<!-- populer__section__start -->
        <div class="populerarea__2 sp_top_50 sp_bottom_50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 about__wrap__content" data-aos="fade-up">
					
                        <div class="service__animate__shape__1">
                            <img loading="lazy"  src="../../../../assets/img/service/service__shape__1.png" alt="">
                        </div>
                        <div class="populerarea__content__wraper__2">
                            <div class="section__title ">
                                <div class="section__title__button">
                                    <div class="default__small__button">Emp Referral</div>
                                </div>
                                <div class="section__title__heading">
                                    <h2>Post Your Openings</h2>
                                </div>
                            </div>

                            <div class="populerarea__content__2">
                                <p class="populerarea__para__1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                <p class="populerarea__para__2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 service__wrap__content">
                        <div class="service__animate__shape__2">
                            <img loading="lazy"  src="../../../../assets/img/service/service__shape__bg__1.png" alt="">
                        </div>
                        <div class="registerarea__form">
                            <div class="registerarea__form__heading">
                                <!-- <h4>Fill Your Info</h4> -->
                            </div>
                            <form action="#">
                                <input class="register__input" type="text" placeholder="Your Name">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="Email Address">
                                    </div>
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <input class="register__input" type="text" placeholder="Address">
                                <textarea class="register__input textarea" name="#" id="#" cols="30"
                                    rows="10">Comment</textarea>
                                <div class="registerarea__button">
                                    <a class="default__button" href="#">Submit
                                        <i class="icofont-long-arrow-right"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- populer__section__end-->





        <!-- testimonial__section__start -->
        <div class="testimonialarea__3" style="background: url(../../../../assets/img/testimonial/testi_bg.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="section__title__2" data-aos="fade-up">
                            <div class="section__small__title">
                                <span>4000+ People</span>
                            </div>
                            <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
                                <h2>Join Our Community</h2>
                            </div>
                        </div>

                        <div class="testimonialarea__paragraph__3 ">
                            <p class="testimonial__quote">
                                <i class="icofont-quote-left quote__left"></i>
                                Join our community to connect with like-minded professionals, access exclusive resources, and stay updated with the latest industry trends. Whether you're a fresher, a seasoned professional, or someone looking to switch careers, our community is here to support you in your journey.
                                <i class="icofont-quote-right quote__right"></i></p>
                                <div class="populerarea__button d-flex ">
                                    <a href="#" class=" default__button">Join Now <i class="icofont-long-arrow-right"></i></a>
                                </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="testimonial__group__img" data-tilt>
                            <img loading="lazy"  src="../../../../assets/img/testimonial/testi__group__1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- testimonial__section__start -->


        <!-- aboutarea__2__section__start -->
        <div class="aboutarea__2 about__single__course sp_top_100 sp_bottom_50">
            <div class="about__padding__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-12 ">
                            <div class="aboutarea__img__inner text-center">
                                <div class="aboutarea__img" data-tilt>
                                    <img loading="lazy" class="img-fluid" src="../../../../assets/img/about/about_single_course_1.jpg" alt="">
                                </div>
                            </div>


                        </div>
                        <div class="col-xl-7 col-lg-7 offset-lg-1 col-md-12 col-12 ">
                            <div class="aboutarea__content__wraper">
                                <div class="aboutarea__button">
                                    <div class="default__small__button">Learn About</div>
                                </div>
                                <div class="aboutarea__headding heading__underline">
                                    <h2> Contribute as an  <span>Interviewer</span></h2>
                                </div>
                                <div class="aboutarea__para">
                                    <p>Your expertise can make a difference! By volunteering as an interviewer, you can help aspiring candidates improve their interview skills and prepare for their dream jobs. Please fill out the form below to express your interest in contributing.<br><br> </p>
                                </div>
                                <h4>Whats Material Includes?</h4>
                                <div class="aboutarea__list">
                                    <ul>
                                        <li>
                                            <i class="icofont-check"></i> Explore a variety of fresh educational material to enhance your job search and interview preparation.
                                        </li>

                                        <li>
                                            <i class="icofont-check"></i> Lorem ipsum dolor sit amet consectetur nidedsd.
                                        </li>

                                        <!-- 
                                        <li>
                                            <i class="icofont-check"></i> Variety of fresh educational teach nided bngedesh.
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="aboutarea__bottom__button">
                                    <a class="default__button" routerLink="/interview-request" routerLinkActive="active" ariaCurrentWhenActive="page"> Contribute  Now
                                        <i class="icofont-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- aboutarea__2__section__end -->


        
        <!-- aboutarea__2__section__start -->
        <div class="aboutarea__2 aboutarea__4 about__single__course sp_bottom_50">
            <div class="about__padding__wrap">
            <div class="container">
                <div class="row">

                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12" data-aos="fade-up">

                        <div class="aboutarea__content__wraper">

                            <div class="section__title__2">
                                <div class="section__small__title">
                                    <span>Seek job application</span>
                                </div>
                                <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
                                    <h2>Request a Seek for Referral.</h2>
                                </div>
                            </div>


                            <div class="aboutarea__para aboutarea__para__2">
                                <p>Seeking a referral for your job application? Fill out the form below to request a referral from our community of professionals. Please provide details about the position you're applying for and why you're a great fit.</p>
                            </div>
                            <div class="aboutarea__list__2">
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i> Discover a range of educational resources to enhance your job search and interview skills
                                    </li>

                                    <li>
                                        <i class="icofont-check"></i> Access a variety of fresh educational materials tailored to your career goals.
                                    </li>

                                    <li>
                                        <i class="icofont-check"></i> Explore diverse educational content designed to boost your job search and interview success.
                                    </li>
                                </ul>
                            </div>
                            <div class="populerarea__button d-flex ">
                                <a class="default__button"  routerLink="/referral-request" routerLinkActive="active" ariaCurrentWhenActive="page"> Create Request
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>

                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="about__right__wraper__2 about__right__wraper__4">
                            <div class="educationarea__img" data-tilt>
                                <img loading="lazy"  style="width: 100%; border-radius: 10px;" src="../../../../assets/img/team/team__4.png" alt="Certificate">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- aboutarea__2__section__end -->
    

        <!-- testmonialarea__section__atart -->
        <div class="testmonialarea sp_top_100 sp_bottom_110">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="section__title text-center">
                        <div class="section__title__button">
                            <div class="default__small__button">Need Help</div>
                        </div>
                        <div class="section__title__heading heading__underline">
                            <h2>Contact <span>Us</span></h2>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class=" testimonial__slider__active default__arrow col-lg-6" data-aos="fade-up">
                        <div class="single__testimonial__wraper registerarea__form">
                            <div class="registerarea__form__heading">
                                <!-- <h4>Fill Your Info</h4> -->
                            </div>
                            <form action="#">
                                <input class="register__input" type="text" placeholder="Your Name">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="Email Address">
                                    </div>
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <input class="register__input" type="text" placeholder="Address">
                                <textarea class="register__input textarea" name="#" id="#" cols="30"
                                    rows="10">Comment</textarea>
                                <div class="registerarea__button">
                                    <a class="default__button" href="#">Submit
                                        <i class="icofont-long-arrow-right"></i>
                                    </a>
                                </div>
                            </form>
        
        
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- testmonialarea__section__end-->

<app-footer></app-footer>


</main>


